.cart {
    width: 350px;
    background-color: white;
    border: 2px solid $text-primary;
    display: fixed;
    z-index: 1;
    top: 1rem;
    right: 1.25rem;
    height: auto;

    &__heading {
        padding: 0.75rem 1rem;
        font-weight: bold;
        border: 2px solid $text-primary;
        color: $text-primary;
    }

    &__inner {
        padding: 1.25rem;
    }

    &__total {
        display: flex;
        padding: 1rem 1.25rem;
        border-top: 2px solid $text-primary;
    }

    &__total-item {
        color: $text-primary;
        font-weight: bold;
    }

    &__none {
        padding: 1.25rem;
        color: $text-primary;
        text-align: center;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__btn-empty {
        align-self: flex-start;
        background-color: white;
        border: 2px solid $text-primary;
        padding-left: 1.25rem;
        padding: 0.5rem 0.75rem;
        margin: 0 1.25rem 1.25rem;
        text-transform: uppercase;
        color: $text-primary;
        font-weight: bold;
        font-size: 0.75rem;
    }

    &__btn-checkout {
        background-color: $text-primary;
        border: 2px solid $text-primary;
        padding-left: 1.25rem;
        padding: 0.5rem 0.75rem;
        margin: 0 1.25rem 1.25rem;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 0.75rem;

        &:hover {
            background-color: lighten(#292B83, 10);
        }
    }

    .cart-item {
        display: flex;
    
        &__image {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border: 2px solid $color-accent;
            margin-right: 0.75rem;
        }

        &__details-name {
            font-size: 0.875rem;
            color: $text-primary;
            font-weight: bold;
        }

        &__details-qty {
            display: flex;
            margin: 0 auto;
        }
    
        &__remove {
            background-color: white;
            border: 2px solid $text-primary;
            padding: 0.5rem 0.75rem;
            font-size: 0.75rem;
            text-transform: uppercase; 
            color: $text-primary;
            font-weight: bold;
            margin-left: auto;
            align-self: flex-start;
        }
    }
}